.countdown-container{
    display: flex;
    flex-direction: column;
}

.timer-buttons{
    display: flex;
    flex-grow: 1;
    gap: 16px;
    align-items: center;
    margin-bottom: 16px;
}

.play-btn, .pause-btn{
    display: flex;
    flex-grow: 1;
    background-color: #030213;
    color:white;
    padding: 4px;
    font-size: 14px;
    font-weight: 400;
    height: fit-content;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.play-icon, .pause-icon{
    display: flex;
    justify-content: center;
    padding: 4px 0px 4px 0px;
}
.reset-btn{
    background-color: white;
    border: 2px solid #E5E5E5;
    height: fit-content;
    width: 40px;
    padding: 6px 0px 6px 0px;
}

.reset-logo{
    width: 12px;
    height: 12px;
}
